:root{
    --theme: #7030cc;
    --button: #1bbcef;
    --code: #faeaeb;
    --data: #fbf0ee;
    --secure: #e9f4f6;
    --support: #f2e7f5;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.flex a{
    text-decoration: none;
    font-weight: bold;
    color: #e9f4f6;
}
.flex a:hover{
    transition: 0.3s;
    color: #7030cc;
}
  
.flex-justify-space-between{
    justify-content: space-between;
}
  
.flex-justify-space-around{
    justify-content: space-around;
}
  
.flex-column{
    flex-direction: column;
}
  
.flex-align-start{
    align-items: flex-start;
}
  
.flex-justify-start{
    justify-content: flex-start;
}
  
.flex-justify-end{
    justify-content: flex-end;
}

.flex-gap{
    gap: 4vw;
}

.flex-gap-sm{
    gap: 2vh;
}

.flex-gap-md{
    gap: 4vh;
}

.flex-wrap{
    flex-wrap: wrap;
}

.bg-theme{
    background: var(--theme);
}

.pxy-46{
    padding: 4vh 6vw;
}

.pt-6{
    padding-top: 12vh;
}

.pt-4{
    padding-top: 4vh;
}

.pl-1{
    padding-left: 1vw;
}

.text-white{
    color: #ffffff;
}

.logo-container{
    width: 12vw;
}

.list{
    width: 40vw;
}

.list-item{
    list-style: none;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

.list-item:hover{
    color: var(--button);
    border-bottom: 1px solid yellow;
}

.button-group{
    width: 20vw;
}

.button{
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    padding: 2vh 3vw;
    background: var(--button);
}

.hero-container{
    height: 89vh;
}


.text-section{
    width: 36vw;
}

.image-section{
    width: 50vw;
}

.heading{
    font-size: 63px;
    color: #ffffff;
}

.text{
    font-size: 22px;
}

.hero-image{
    width: 44vw;
}

.section-heading{
    font-size: 36px;
}

.arrow{
    width: 3vw;
}
button:hover{
    transition: 0.3s;
    font-size: 20px;
    background-color:aquamarine;
    cursor: pointer;
}
.advantages{
    height: 60vh;
}

.advantage{
    height: 14vh;
    width: 32vw;
}

.advantage-content{
    height: 14vh;
}

.icon-container{
    height: 14vh;
}

.list-heading{
    font-size: 24px;
}

.saas{
    width: 42vw;
}

.feature-heading{
    width: 30vw;
    text-align: center;
}

.features{
    width: 85vw;
    padding: 10vh 0vw;
}

.feature{
    width: 20vw;
    padding-top: 4vh;
    border-radius: 32px;
    box-shadow: 6px 6px 8px 2px #c8c8c8;
}

.feature-item-img{
    height: 15vh;
    width: 8vw;
    border-radius: 50%;
}

.feature-item-img>img{
    width: 66px;
}

.feature-content{
    border-radius: 32px;
    margin-top: 2vh;
    padding: 0px 16px;
    padding-bottom: 4vh;
}

.feature-content:hover{
    color: #ffffff;
    background: var(--theme);
}

.feature-content>h3{
    text-align: center;
}

.feature-text{
    text-align: center;
    font-size: 16px;
}


.code{
    background: #faeaeb;
}

.analytics{
    background: #fbf0ee;
}

.secured{
    background: #e9f4f6;
}

.support{
    background: #f2e7f5;
}